nav.navigation-mobile {
  @apply md:hidden;
}

nav.navigation-desktop {
  @apply hidden md:flex;
  border-bottom: 1px solid #dddfe2;
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.08);
}

.btn-navigation {
  @apply w-auto md:w-full
  p-3 md:p-0 md:py-4
  flex justify-center text-blue-300 dark:text-zinc-500;
}

.btn-navigation.active {
  @apply !text-white 
  md:bg-secondary-light md:dark:bg-secondary-dark;
}

.navigation-mobile .btn-navigation:nth-child(3) {
  @apply -mt-6 md:mt-0 
  p-5 text-white rounded-full 
  bg-secondary-light  dark:bg-secondary-dark dark:text-zinc-500;
}
