@tailwind base;
@tailwind components;
@tailwind utilities;

/* largura do scroll vertical e horizonal*/
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Cor do scroll*/
::-webkit-scrollbar-thumb {
  background: silver;
}

/* Fundo do scroll*/
::-webkit-scrollbar-track {
  background: transparent;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  position: relative;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.subtitle-header {
  @apply text-lg font-roboto font-medium text-center text-gray-500 dark:text-gray-300;
}

.title-header {
  @apply font-bold font-roboto text-2.5xl text-center text-gray-700 dark:text-white;
}

.btn.btn-primary {
  @apply rounded border-none bg-primary-light dark:bg-primary-dark disabled:bg-gray-500 disabled:dark:bg-gray-500 disabled:text-gray-400;
}

.btn.btn-outline {
  @apply border-gray-400 text-gray-500 hover:bg-transparent hover:border-primary hover:text-primary;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  width: min-content;
  max-width: 100%;
}

span,
small {
  display: flex;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
