@tailwind base;
@tailwind components;
@tailwind utilities;

/* largura do scroll vertical e horizonal*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Cor do scroll*/
::-webkit-scrollbar-thumb {
  background: silver;
}

/* Fundo do scroll*/
::-webkit-scrollbar-track {
  background: transparent;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  position: relative;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-size: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: #f5f6fa;
}

.shadow-card {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.08);
  border: 1px solid #dddfe2;
}

.input.input-primary {
  @apply w-full h-12 rounded-md bg-white border border-gray-300 px-4 placeholder:text-sm;
}

.btn {
  @apply active:scale-95 ease-in-out duration-200 hover:brightness-90 uppercase font-roboto text-sm text-white font-bold;
}

.btn.btn-primary {
  @apply w-full h-12 
  rounded border-none 
  bg-teal-500 dark:bg-primary-dark 
  disabled:bg-gray-500 disabled:text-white/50;
}

.btn.btn-outline {
  @apply w-full h-12 
  rounded border border-teal-500 
  uppercase font-roboto text-sm text-teal-500 font-bold
  bg-transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  width: min-content;
  max-width: 100%;
}

span,
small {
  display: flex;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
