section.register div.box-left {
  width: 45%;
  height: 100vh;
  padding: 83px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  background: url('../images/section-register.jpg');
}

section.register div.box-left > * {
  z-index: 1;
}

section.register div.box-left::after {
  content: '';
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  background: rgba(25, 32, 42, 0.8);
}

section.register div.box-left h1 {
  margin-bottom: 19px;
  font-family: 'Secular One';
  font-style: normal;
  font-weight: 400;
  font-size: 77px;
  line-height: 113.6%;

  letter-spacing: -0.01em;

  background: linear-gradient(169.74deg, #ddecea -112.72%, #88ffed 3.63%, #00c4a7 81.15%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
}

section.register div.box-right {
  width: 55%;
}
